{{ header }}
export module cql.engine.io.codec.wire;

import cql.engine.io.types;

import plexdb.base;

import cql.engine.column_value;
import cql.engine.types;

using namespace plexdb;

{% import "wire_macros.jinja" as wire %}
export namespace cql::io {
    template<typename T>
    void write_typed_basic(Writer w, const T& src, [[maybe_unused]] type::Basic dtype) {
{% for t in write_arm_types %}
{% if loop.first %}
        if constexpr (SameAs<T, {{ t.column_value_ctype }}>) {
{% else %}
        } else if constexpr (SameAs<T, {{ t.column_value_ctype }}>) {
{% endif %}
{{ wire.write_typed_basic_body(t) }}
{% endfor %}
        } else {
            static_assert(!SameAs<T, T>, "missing type case");
        }
    }

    bool is_literal_integer_family(type::Basic dtype) {
        switch (dtype) {
{% for b in integer_family_basics %}
            case type::Basic::{{ b }}:
{% endfor %}
                return true;
            default:
                return false;
        }
    }
    bool is_literal_float_family(type::Basic dtype) {
        switch (dtype) {
{% for b in float_family_basics %}
            case type::Basic::{{ b }}:
{% endfor %}
                return true;
            default:
                return false;
        }
    }

    template<typename T>
    bool can_write_typed_basic_as_column_value(type::Basic dtype) {
        if constexpr (SameAs<RemoveCV<T>, S64>) {
            return is_literal_integer_family(dtype);
        } else if constexpr (SameAs<RemoveCV<T>, F64>) {
            return is_literal_float_family(dtype);
        } else if constexpr (SameAs<RemoveCV<T>, bool>) {
            return dtype == type::Basic::boolean;
        } else if constexpr (SameAs<RemoveCV<T>, Null>) {
            return true;
        } else if constexpr (SameAs<RemoveCV<T>, Unset>) {
            return false;
        } else if constexpr (SameAs<RemoveCV<T>, Hex>) {
            return dtype == type::Basic::hex;
{% for grp in compat_exact_groups %}
        } else if constexpr (SameAs<RemoveCV<T>, {{ grp.ctype }}>) {
            return {% for b in grp.basics %}dtype == type::Basic::{{ b }}{% if not loop.last %} || {% endif %}{% endfor %};
{% endfor %}
        } else {
            static_assert(!SameAs<T, T>, "missing type case");
            return false;
        }
    }

    ColumnValue narrow_s64_literal(S64 v, type::Basic dtype) {
        switch (dtype) {
{% for arm in narrow_s64_arms if not arm.is_native %}
{% for b in arm.basics %}
            case type::Basic::{{ b }}:
{% endfor %}
                return ColumnValue{ {{ wire.narrow_cast(arm.ctype) }} };
{% endfor %}
            default:
                return ColumnValue{ {{ wire.narrow_cast(narrow_s64_native_ctype) }} };
        }
    }
    ColumnValue narrow_f64_literal(F64 v, type::Basic dtype) {
        switch (dtype) {
{% for arm in narrow_f64_arms if not arm.is_native %}
{% for b in arm.basics %}
            case type::Basic::{{ b }}:
{% endfor %}
                return ColumnValue{ {{ wire.narrow_cast(arm.ctype) }} };
{% endfor %}
            default:
                return ColumnValue{ {{ wire.narrow_cast(narrow_f64_native_ctype) }} };
        }
    }
}
